body{
    font-family: Arial, sans-serif;
    background-image: url('/img/cozy-home-interior-anime-style.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff00;
    padding: 1rem;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;    
}
nav ul li a{
    margin: 0rem;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 4rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover{
    background-color: #beb8b8;
}
h2{
    text-align: center;
    padding: 1rem 4rem;
    margin-top: 70px;
    color: white;

}
h1{
    text-align: center;
    width: 50%;
    margin-left: 17rem;
    padding: 1rem 4rem;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
}
h3{
    padding: 1rem 3rem;
    text-align: center;
    background-color: black;
    color: #ffffff;
    width: 5%;
    margin-left: 45%;
    margin-top: 2%;
    border-radius: 20px;
    transition: background-color 0.3s;
}
h3:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}